<div id="<%= dom_id carro %>">
  <p>
    <strong>Modelo:</strong>
    <%= carro.modelo %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= carro.marca %>
  </p>

  <p>
    <strong>Valor aluguel:</strong>
    <%= carro.valor_aluguel %>
  </p>

  <p>
    <strong>Placa:</strong>
    <%= carro.placa %>
  </p>

</div>
