<!-- component -->
<div class="flex min-h-screen">
  <nav class="tex-gray-900 fixed top-0 left-0 flex h-screen w-64 flex-col border border-blue-600 bg-blue-600 px-4">
  <%= link_to "J&R", root_path, class: "text-white font-black mt-2 text-4xl" %>
  
  <div class="mt-2 ml-2 mb-4 flex flex-wrap items-baseline pt-1">
      <div class="mr-4">
        <i class="fa-sharp fa-solid fa-circle-user text-white text-sm"></i>
      </div>
      <p class="text-white font-black text-sm">Olá, <%= current_user.name %></p>
    </div>
    <hr/>
    <div class="mt-4 mb-4">
      <ul class="">
        <li class="mb-2 rounded-lg border-gray-300 px-4 py-4 text-white bg-blue-500 font-bold">
          <span><i class="fa-sharp fa-solid fa-list"></i></span>
          <%= link_to "Minha Reservas", class: "ml-2" %>
        </li>

        <li class="mb-2 rounded-lg border-gray-300 px-4 py-4 text-white hover:bg-blue-500 hover:font-bold">
          <span><i class="fa-sharp fa-solid fa-car"></i></span>
          <%= link_to "Nova Reserva", user_profile_nova_reserva_path, class: "ml-2" %>
        </li>
        <li class="mb-2 rounded-lg border-gray-300 px-4 py-4 text-white hover:bg-blue-500 hover:font-bold">
          <span><i class="fa-solid fa-user"></i></span>
          <%= link_to "Informações", user_profile_informacao_path, class: "ml-2" %>
        </li>
        <li class="mb-2 rounded-lg border-gray-300 px-4 py-4 text-white hover:bg-blue-500 hover:font-bold">
          <span><i class="fa-sharp fa-solid fa-right-from-bracket"></i></span>
          <%= link_to "Sair",destroy_user_session_path, class: "ml-2",data: { "turbo-method": :delete } %>

        </li>
      </ul>
    </div>
  </nav>


  <div class="flex-1 pl-64 m-5">
    <div class="flex justify-between mb-4">
      <h3 class="text-lg font-black text-gray-700 mb-2">Minhas reservas</h3>
      <div class="flex">
        <%= link_to "Salvar em CSV", download_csv_path(format: :csv), class: "hover:bg-gray-50 hover:rounded-full tracking-widest text-xs text-blue-700 font-bold border-2 rounded-md px-5 py-1 flex place-items-center" %>
        <%= link_to "PDF", download_pdf_path, class: "hover:bg-gray-50 hover:rounded-full tracking-widest text-xs text-blue-700 font-bold border-2 rounded-md px-5 ml-1 py-1 flex place-items-center" %>
      </div>
    </div>
    <hr/>
    <% if flash[:csv_download_success] %>
      <div id="download-csv-success" class="bg-green-100 border-green-200 border-2 rounded py-2 px-1 text-center mt-4">
        <p class="text-green-800 font-medium text-sm"><%= flash[:csv_download_success] %></p>
      </div>
    <% end %>


    <% @emprestimos.each do |emprestimo| %>
      <div class="mx-auto rounded-xl border border-gray-200 bg-white p-6 shadow-md m-6">
        <div class="col-span-2 py-2">
          <p class="text-xs font-black text-gray-400">Modelo:</p>
          <p class="text-lg font-black text-gray-600"><%= Carro.find(emprestimo.carro_id).modelo %></p>
        </div>

        <div class="col-span-2 py-2">
          <p class="text-xs font-black text-gray-400">Marca:</p>
          <p class="text-lg font-black text-gray-600"><%= Carro.find(emprestimo.carro_id).marca %></p>
        </div>

        <div class="col-span-2 py-2">
          <p class="text-xs font-black text-gray-400">Placa:</p>
          <p class="text-lg font-black text-gray-600"><%= Carro.find(emprestimo.carro_id).placa %></p>
        </div>
        <hr/>
        <div class="py-3">
          <div class="col-span-2 pb-4">
            <p class="text-xs font-black text-gray-400">Data da retirada</p>
            <p class="text-lg font-black text-gray-600"><%= emprestimo.data_inicial.strftime("%d/%m/%Y") %></p>
          </div>
          <hr/>
          <div class="col-span-2 py-4">
            <p class="text-xs font-black text-gray-400">Data de entrega</p>
            <p class="text-lg font-black text-gray-600"><%= emprestimo.data_final.strftime("%d/%m/%Y") %></p>
          </div>
          <hr/>
          <div class="col-span-2 py-4">
            <p class="text-xs font-black text-gray-400">Total a pagar</p>

            <p class="text-lg font-black text-gray-600"> <%= number_to_currency(emprestimo.valor, locale: :"pt-BR") %></p>
<!--            <p class="text-lg font-black text-gray-600"> <%#= number_to_currency(calular_valor(emprestimo), locale: :"pt-BR") %></p>-->
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>


